.cardContainer {
  width: 120px;
  height: 200px;
  background-color: rgb(235, 196, 233);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: salmon solid 1px;

  .topSign {
    display: flex;
    align-items: flex-start;
    background-color: pink;
  }
  .bottomSign {
    display: flex;
    align-items: flex-end;
    background-color: pink;
  }
  .middlePicture {
    max-width: 120px;
  }
}
